@import "tailwindcss";
@plugin "daisyui";

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Optimize animation performance */
img {
  transform: translateZ(0);
  backface-visibility: hidden;
}

body{
    @apply text-black;
  }

/* Default Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: #939595;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
  background: #939595;
  border-radius: 5px;
}

/* Join Us Section Scrollbar */
/* .join-us-active::-webkit-scrollbar {
  background: #939595;
}

.join-us-active::-webkit-scrollbar-thumb {
  background: #939595;
} */

/* Firefox Support */
/* @supports (scrollbar-color: auto) {
  .join-us-active {
    scrollbar-color: #939595 #939595;
    scrollbar-width: thin;
  }
  .hero-section-active{
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }
}

.hero-section-active::-webkit-scrollbar-thumb{
  background: transparent;
  scrollbar-width: none;
  scroll-padding: 0;
  scrollbar-gutter: 0;
}

.hero-section-active::-webkit-scrollbar{
  background: transparent;
  scrollbar-width: none;
  scroll-padding: 0;
  scrollbar-gutter: 0;
}

.hero-section-active::-webkit-scrollbar-track{
  background: transparent;
} */

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* WebKit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.join-us-active,
.hero-section-active {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Optional: Apply to specific elements */
.hero-section-active::-webkit-scrollbar,
.join-us-active::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

/* Custom slider styles */
.hero-slider .slick-dots {
  bottom: -40px;
}

.hero-slider .slick-dots li button:before {
  font-size: 12px;
  color: #4a5568;
}


.hero-slider .slick-dots li.slick-active button:before {
  color: #4299e1;
}

.hero-slider .slick-prev,
.hero-slider .slick-next {
  width: 40px;
  height: 40px;
  z-index: 10;
}

.hero-slider .slick-prev:before,
.hero-slider .slick-next:before {
  font-size: 40px;
  color: #2d3748;
}

.hero-slider .slick-prev {
  left: -50px;
}

.hero-slider .slick-next {
  right: -50px;
}

@media (max-width: 768px) {

  .hero-slider .slick-prev,
  .hero-slider .slick-next {
    display: none !important;
  }
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide>div {
  height: 100%;
}

.embla__slide {
  position: relative;
  min-width: 0;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.grayscale {
  filter: grayscale(100%);
  transition: filter 0.3s ease-out;
}

.grayscale:hover {
  filter: grayscale(0%);
}